{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block head_title %}{% endblock %}</title>
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
  </head>
  <body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome</h1>
                                    </div>
                                    <div class="form-group">
                                        Your ChatGPT API Key is: {{ api_key }}
                                    </div>

                                    <div class="col-md-12 well">
                                        <h6 class="lbl-enunciado">Upload CSV</h6>
                                        <form action="." method="POST" enctype='multipart/form-data'>
                                             {% csrf_token %}
                                              {{ form.as_p }}
                                            <div class="col-md-3">
                                                <button type="submit" class="btn btn-success btn-block pull-right">Upload</button>
                                            </div>
                                        </form>
                                    </div>


                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="{% url 'logout' %}">Logout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>